/*Body background*/

.bodyContainer {

	background-image: linear-gradient(rgba(121, 115, 115, 0.8), rgba(121, 115, 115, 0.8)), url("../Img/MainSlide2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}