// main en *Contacto* //

.containerMainContact{
	height: auto;
	width: auto;
}
 .form-container textarea {
	max-width: 360px;
	height: 150px;
	resize: none;
} 

.div-form-container { 
	border: solid;
    border-radius: 8px;
    border-color: $borderColor;
    padding: 5px;
}



.fieldset {
	border-radius: 10px;
    font-size: 20px;
    color: $fontColor;
    border: none;
    font-family: $fontStyle;
}

.sub-title {
	color: $fontColor;
    font-family: $fontStyle;
	padding-left: 5px;
	padding-top: 5px;
}

.section-container {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
	padding: 20px;
	margin-top: 60px;
	
}


@media screen and (max-width: 992px) {
 
	.section-container {  
  		flex-direction: column;
 	 	gap: 20px;
		justify-content: center;
		height: 100%;

	}

	.mapa {
		width: 90%;
	}

	.div-form-container { 
		
		width: 90%;
	}

	.anchoMapa {
		width: 100%;
	}

	.form-container textarea {
		width: auto;
		height: 150px;
		resize: none;
	} 


}

