// main en *Contacto* //

.containerMainContact{
	height: 100vh;
	width: auto;
}
 .form-container textarea {
	width: 360px;
	height: 150px;
	resize: none;
} 

.div-form-container{
	border: solid;
    border-radius: 8px;
    /* margin-top: 40px; */
    border-color: $borderColor;
    padding: 5px;
}


.fieldset {
	border-radius: 10px;
    font-size: 20px;
    color: $fontColor;
    border: none;
    font-family: $fontStyle;
}

.sub-title {
	color: $fontColor;
    font-family: $fontStyle;
	padding-left: 5px;
	padding-top: 5px;
}

.section-container {
	display: flex;
	/* grid-template-columns: repeat(2,1fr); */
	/* grid-template-rows: repeat(2,1fr); */
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
	padding: 20px;
	margin-top: 60px;
	
}





